*{
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("https://images.unsplash.com/photo-1569470451072-68314f596aec?q=80&w=2231&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
input,button{
    padding: 10px 10px;
    border-radius: 5px;
    border: 4px solid wheat;
}
input{
    width: 300px;
}
button{
    color: black;
    background-color: wheat;
    margin-left: 53px;
}
#heading{
    display: flex;
    justify-content: center;
    color: wheat;
    align-items: center;
    height: 20vh;
    font-family: "Home Video";
    font-size: 70px;
}
.whole-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;

}
.card-container{
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}
.card{
    display: flex;
    height: 270px;
    width: 220px;
    flex-direction: column;
    justify-content: flex-end;
    background-color: black;
    border-radius: 20px;
    background-image: url(/Profile-Maker/images/DPprofessional.png);
    background-size: cover;
    border: 1px solid black;
    box-shadow: 0px 10px 25px 3px rgba(0,0,0,0.4);
    
}
.bottom{
    backdrop-filter: blur(8px);
    background: rgba(14, 102, 255, 0.371);  /* semi-transparent dark layer */
    padding: 10px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: "Home Video";
}
h4{
    margin-top: 10px;
    font-size: 12px;
}
.note{
    font-family: "Home Video";
    color: wheat;
}


